
.jumbotron {
    background-color: #2f4f46;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
}

h3 {
    color: #2f4f46;
}

.quote {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

img {
    height: 250px;
    width: 200px;
    object-fit: cover;
    overflow: hidden;
}